body
{
    background-color: #2f3336;
    color: #efefef;
    margin:0;
    font-size: 17px;
}

h1.logo
{
    font-size:44px;
    font-weight: 700;
    color:#009966;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 6rem;
	min-height: 130px;
}

#logotyp
{
    background-image: url("img/cartographer.png");
    min-height: 10vh;
}

nav
{
    background-color: #1c74b2;
    text-align: center;
}

.menu
{
    list-style-type:none;
    margin:0px;
    padding:10px;
    font-size:18px;
    min-height: 30px;
    line-height: 200%;
}

.menu > li
{
    display:inline-flex;
    padding-left: 20px;
    padding-right: 20px;
    border-left:1px dashed #0a2b42;
}
.menu > li:first-child
{
    border-left: none;
}

.menu a
{
    color:#fff;
    text-decoration: none;
}
.menu a:hover
{
    color:#0a2b42;
}

.container
{
	text-align: center;
}

.subject
{
	display: inline-flex;
	justify-content: center;
}

img
{
    max-width: 400vw;
	height: 40vh;
}

.subject a
{
    opacity: 0.7;
}

.subject a:hover
{
    opacity: 1;
}

figure
{ 
    margin: 8px;
    
}

#mymap
{
	height: 75vh;
	width:auto;
}

.text {
    text-align: justify;
    text-indent: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.obrazek img
{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 600px;
    height: 300px;
}

.container1{
        text-align: left;
}

.logo1 {
    	min-height: 225px;
        margin-left: 2rem;
        margin-right: 2rem;
}
#logotyp1 {
    background-image: url("img/shapefile.png");
}
h1.logo2
{
    font-size:50px;
    font-weight: 700;
    color: darkred;
    text-align: left;
    margin-left: 2rem;
    letter-spacing: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 6rem;
}
.tekst1{
    text-align: justify;
    text-indent: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: aquamarine;    
}
.modele img{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 700px;
    height: 400px;
}
